*
!.gitignore
!ingestion/
!saga_extract/
!rest/
!web/
!web/src/
!web/src/lib/
!web/src/assets/
!web/src/assets/html/
!misc/
!converter/

!ingestion/**
!rest/**
!saga_extract/**
!misc/**
!web/src/web/**
!web/src/lib/**
!web/src/assets/**
!web/src/assets/html/**
!converter/**

!web/docker-entrypoint.sh
!web/Dockerfile
!web/nginx.conf

!LICENSE
!README.MD
!README-TECH.MD
!TECH.MD


rest/model_cache/
ingestion/src/error/
ingestion/src/watch/
ingestion/src/processed/
saga_extract/documentazione/
**/.env
**/__pycache__/*
**/.DS_Store
**/Thumbs.db
**/*.json