*
!.gitignore
!ingestion/
!rest/
!web/
!web/src/
!web/src/lib/
!web/src/assets/
!web/src/assets/html/

!ingestion/**
!rest/**
!web/src/web/**
!web/src/lib/**
!web/src/assets/**
!web/src/assets/html/**

rest/model_cache/
ingestion/src/error/
ingestion/src/watch/
ingestion/src/processed/
**/.env
**/__pycache__/*
**/.DS_Store
**/Thumbs.db
**/*.json