*
!.gitignore
!ingestion/
!saga_extract/
!common/
!api/
!web/greenlees/
!web/greenlees/src/
!web/greenlees/src/lib/
!web/greenlees/src/assets/
!web/greenlees/src/assets/html/
!web/provincia/
!web/provincia/src/
!web/provincia/src/lib/
!web/provincia/src/assets/
!web/provincia/src/assets/html/
!misc/
!converter/
!direct/

!ingestion/**
!api/**
!saga_extract/**
!misc/**
!common/**
!web/greenlees/src/web/**
!web/greenlees/src/lib/**
!web/greenlees/src/assets/**
!web/greenlees/src/assets/html/**
!web/provincia/src/web/**
!web/provincia/src/lib/**
!web/provincia/src/assets/**
!web/provincia/src/assets/html/**
!converter/**
!direct/**

!web/greenlees/docker-entrypoint.sh
!web/greenlees/Dockerfile
!web/greenlees/nginx.conf
!web/provincia/docker-entrypoint.sh
!web/provincia/Dockerfile
!web/provincia/nginx.conf

!LICENSE
!README.MD
!README-TECH.MD

api/model_cache/
ingestion/src/error/
ingestion/src/watch/
ingestion/src/processed/
saga_extract/documentazione/
**/.env
**/__pycache__/*
**/.DS_Store
**/Thumbs.db
**/*.json